body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

/* casual-shoes-css-section-start */

.card-img-top{
    background-color: #ebe6e6;
    border-radius: 20px;
   
}
.card {
    border: none;
}
.card-footer{
    border-top: none;
}
/* casual-shoes-css-section-start */



/* exchange-section-css-start */

#exchange{
    margin-top: 100px;
}

.left-content img{
    padding-right: 30px;
    height: 60px;
    width: 80px;
}

/* exchange-section-css-end */


