
h1,h2{
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.menu-bg{
    position: relative;
    margin-left: 100px;
    top:-8px;
}

/* button-start*/

.btn-custom{
    font-size: 13px;
    font-weight:500;
    
    background-color: #3b4ce6 !important;
    color: #fff;
    border-radius: 10px;
    
}
.btn-custom:hover{
       background-color: #1f34f0;
}
/* button-end*/


/* banner-top-section-start */

header, .banner-top{
    background-color: #FFF9F4;
}

.nike-content {
    color: #FA804C;
}

.banner-content-area h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    font-weight: 600;
}
/* banner-top-section-end */


/* casual-shoes-section-start */

.casual-shoes,.formal-shoes{
    margin-top: 100px;
}

.card-img-top{
    background-color: #ebe6e6;
    border-radius: 20px;
   
}
.border-radius-custom{
   border-radius: 90px;
   background-color: rgb(243, 240, 240);
   
}
.card {
    border: none;
}
.card-footer{
    border-top: none;
}
.card-footer h3{
    color: #FA804C;
    font-size: 35px;
    font-weight:bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* casual-shoes-section-start */


/* exchange-section-start */

#about-us{
    margin-top: 100px;
}

.left-content img{
    padding-right: 30px;
    height: 60px;
    width: 80px;
}

/* exchange-section-end */


/* contact-section-start */

.contact-img img:hover{
    transform: rotate(360deg);
    transition: 2s;
}

.custom-style{
    border-radius: 20px;
}
/* contact-section-end */

  
  /* about-section-start */
  .content-inner{
      padding:0px 20px 0px 20px;
  }
  /* about-section-end */

  @media (max-width: 768px) {
    .reverse {
      flex-direction: column-reverse;
      
    }
  }

  @media (max-width: 768px) {
    .left-content-wrapper {
     text-align: center;
      
    }
  }

